.carrusel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carrusel-container{
    display: flex;
}

.carrusel-slide{
    min-width: 100%;
    box-sizing: border-box;
}

.carrusel-slide img{
    width: 100%;
    display: block;
}

/* .carrusel-controls {
    position: absolute;
} */

.carrusel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.carrusel-btnPrev{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.carrusel-btnNext{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}